multidict==6.6.3
timeout-decorator==0.5.0
sentencepiece==0.2.0
pytz==2025.2
py-cpuinfo==9.0.0
nvidia-ml-py==12.575.51
nvidia-cusparselt-cu12==0.6.3
nanobind==2.7.0
hjson==3.1.0
fastrlock==0.8.3
blake3==1.0.5
antlr4-python3-runtime==4.9.3
xxhash==3.5.0
websockets==15.0.1
uvloop==0.21.0
uritemplate==4.2.0
tzdata==2025.2
nvidia-cufft-cu12==11.3.0.4
typing_extensions==4.14.1
tqdm==4.67.1
threadpoolctl==3.6.0
smmap==5.0.2
shellingham==1.5.4
sentry-sdk==2.32.0
scipy==1.16.0
safetensors==0.5.3
rignore==0.5.1
regex==2024.11.6
python-multipart==0.0.20
python-dotenv==1.1.1
pynvml==12.0.0
pycountry==24.6.1
pyasn1==0.6.1
pyarrow==20.0.0
protobuf==5.29.5
propcache==0.3.2
polars==1.31.0
pillow==11.3.0
partial-json-parser==0.2.1.1.post6
opencv-python-headless==4.11.0.86
omegaconf==2.3.0
ninja==1.11.1.4
nvidia-nvtx-cu12==12.6.77
nvidia-curand-cu12==10.3.7.77
nvidia-nvjitlink-cu12==12.6.85
nvidia-nccl-cu12==2.26.2
nvidia-cuda-runtime-cu12==12.6.77
nvidia-cuda-nvrtc-cu12==12.6.77
nvidia-cuda-cupti-cu12==12.6.80
nvidia-cublas-cu12==12.6.4.1
msgspec==0.19.0
msgpack==1.1.1
mdurl==0.1.2
loguru==0.7.3
llvmlite==0.44.0
llguidance==0.7.30
lark==1.2.2
joblib==1.5.1
jiter==0.10.0
Jinja2==3.1.6
interegular==0.3.3
httptools==0.6.4
hf-xet==1.1.5
grpcio==1.73.1
frozenlist==1.7.0
einops==0.8.1
dnspython==2.7.0
diskcache==5.6.3
dill==0.3.8
cupy-cuda12x==13.5.1
colorama==0.4.6
cloudpickle==3.1.1
click==8.2.1
cachetools==5.5.2
astor==0.8.1
annotated-types==0.7.0
airportsdata==20250706
aiohappyeyeballs==2.6.1
yarl==1.20.1
watchfiles==1.1.0
uvicorn==0.35.0
typing-inspection==0.4.1
tiktoken==0.9.0
starlette==0.46.2
scikit-learn==1.7.0
rsa==4.9.1
pydantic_core==2.33.2
pyasn1_modules==0.4.2
proto-plus==1.26.1
pandas==2.3.1
gitdb==4.0.12
nvidia-cusparse-cu12==12.5.4.2
multiprocess==0.70.16
markdown-it-py==3.0.0
latex2sympy2_extended==1.10.2
hydra-core==1.3.2
huggingface-hub==0.33.3
googleapis-common-protos==1.70.0
email_validator==2.2.0
depyf==0.18.0
aiosignal==1.4.0
tokenizers==0.21.2
rich==14.0.0
pydantic==2.11.7
prometheus-fastapi-instrumentator==7.1.0
nvidia-cusolver-cu12==11.7.1.2
math-verify==0.8.0
grpcio-status==1.71.2
google-auth==2.40.3
GitPython==3.1.44
aiohttp==3.12.14
wandb==0.21.0
typer==0.16.0
transformers==4.53.1
flash_attn==2.8.1
rich-toolkit==0.14.8
ray==2.47.1
outlines_core==0.1.26
openai==1.90.0
mistral_common==1.7.0
lm-format-enforcer==0.10.11
google-auth-httplib2==0.2.0
google-api-core==2.25.1
fastapi==0.116.0
xformers==0.0.30
xgrammar==0.1.19
outlines==0.1.11
liger_kernel==0.5.8
google-api-python-client==2.176.0
fastapi-cloud-cli==0.1.2
fastapi-cli==0.0.8
deepspeed==0.17.2
datasets==4.0.0
compressed-tensors==0.10.2
bitsandbytes==0.46.1
accelerate==1.8.1
trl==0.19.1
peft==0.16.0
llmcompressor==0.4.1
google-ai-generativelanguage==0.6.15
evaluate==0.4.5
google-generativeai==0.8.5
vllm==0.9.2
mpmath==1.3.0
sympy==1.14.0
setuptools==80.9.0
nvidia-cufile-cu12==1.11.1.6
networkx==3.5
MarkupSafe==3.0.2
fsspec==2025.5.1
filelock==3.18.0
nvidia-cudnn-cu12==9.5.1.17
triton==3.3.0
pyzmq==27.0.0
pybase64==1.4.1
numba==0.61.2
gguf==0.17.1
torch==2.7.0
torchvision==0.22.0
torchaudio==2.7.0
entrypoints==0.4
jupyter_client==7.4.9
nbclassic==1.1.0
notebook==6.5.5
PyYAML==6.0.2
Send2Trash==1.8.3
anyio==4.6.0
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
asttokens==2.4.1
async-lru==2.0.4
attrs==24.2.0
babel==2.16.0
beautifulsoup4==4.12.3
bleach==6.1.0
certifi==2024.8.30
cffi==1.17.1
charset-normalizer==3.3.2
comm==0.2.2
debugpy==1.8.5
decorator==5.1.1
defusedxml==0.7.1
executing==2.1.0
fastjsonschema==2.20.0
fqdn==1.5.1
h11==0.14.0
httpcore==1.0.5
httpx==0.27.2
idna==3.10
ipykernel==6.29.5
ipython==8.27.0
ipython-genutils==0.2.0
ipywidgets==8.1.5
isoduration==20.11.0
jedi==0.19.1
json5==0.9.25
jsonpointer==3.0.0
jsonschema==4.23.0
jsonschema-specifications==2023.12.1
jupyter-archive==3.4.0
jupyter_contrib_core==0.4.2
jupyter_contrib_nbextensions==0.7.0
jupyter_core==5.7.2
jupyter-events==0.10.0
jupyter-highlight-selected-word==0.2.0
jupyter-lsp==2.2.5
jupyter_nbextensions_configurator==0.6.4
jupyter_server==2.14.2
jupyter_server_terminals==0.5.3
jupyterlab==4.2.5
jupyterlab_pygments==0.3.0
jupyterlab_server==2.27.3
jupyterlab_widgets==3.0.13
lxml==5.3.0
matplotlib-inline==0.1.7
mistune==3.0.2
nbclient==0.10.0
nbconvert==7.16.4
nbformat==5.10.4
nest-asyncio==1.6.0
notebook_shim==0.2.4
overrides==7.7.0
packaging==24.1
pandocfilters==1.5.1
parso==0.8.4
pexpect==4.9.0
platformdirs==4.3.6
prometheus_client==0.21.0
prompt_toolkit==3.0.47
psutil==6.0.0
ptyprocess==0.7.0
pure_eval==0.2.3
pycparser==2.22
Pygments==2.18.0
python-dateutil==2.9.0.post0
python-json-logger==2.0.7
referencing==0.35.1
requests==2.32.3
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rpds-py==0.20.0
sniffio==1.3.1
soupsieve==2.6
stack-data==0.6.3
terminado==0.18.1
tinycss2==1.3.0
tornado==6.4.1
traitlets==5.14.3
types-python-dateutil==2.9.0.20240906
uri-template==1.3.0
urllib3==2.2.3
wcwidth==0.2.13
webcolors==24.8.0
webencodings==0.5.1
websocket-client==1.8.0
widgetsnbextension==4.0.13
numpy==1.26.3
pip==24.2
wheel==0.44.0
PyGObject==3.42.1
PyJWT==2.3.0
SecretStorage==3.3.1
blinker==1.4
cryptography==3.4.8
dbus-python==1.2.18
distro==1.7.0
httplib2==0.20.2
importlib-metadata==4.6.4
jeepney==0.7.1
keyring==23.5.0
launchpadlib==1.10.16
lazr.restfulclient==0.14.4
lazr.uri==1.0.6
more-itertools==8.10.0
oauthlib==3.2.0
pyparsing==2.4.7
python-apt==2.4.0+ubuntu4
six==1.16.0
wadllib==1.3.6
zipp==1.0.0
platformdirs==4.2.2
autocommand==2.2.2
backports.tarfile==1.2.0
importlib_metadata==8.0.0
inflect==7.3.1
jaraco.collections==5.1.0
jaraco.context==5.3.0
jaraco.functools==4.0.1
jaraco.text==3.12.1
more-itertools==10.3.0
packaging==24.2
tomli==2.0.1
typeguard==4.3.0
typing_extensions==4.12.2
wheel==0.45.1
zipp==3.19.2
